.subHeader {
  height: 44px;
  color: var(--primary-1);
  padding: 9px 190px 9px 260px;
  font-size: 1.5em;
  width: 1920px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  .subHeader_p-bold {
    font-weight: 700;
  }
  .subHeader_app {
    font-size: 15px;
    min-width: 300px;
    .subHeader_p {
      margin: 0 2px 0 18px;
    }
  }
}
.subHeader_read {
  cursor: pointer;
  &:hover {
    .subHeader_icon-hover {
      margin: 0 0 0 5px;
      transition: all 0.3s ease-in-out;
    }
  }
}
.subHeader_app {
  > svg {
    cursor: pointer;
  }
  > div {
    cursor: pointer;
    &:hover {
      .subHeader_icon-hover {
        margin: 0 0 0 5px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.header {
  background-color: var(--primary-1);
  height: 90px;
  color: #fff;
  justify-content: center;
  .headerList {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 10px;
    margin: 0;
    height: 100%;
    .headerList_item {
      height: 100%;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 15px;
      text-wrap: nowrap;
      text-transform: capitalize;
      padding: 5px 20px;
      font-weight: 500;
      position: relative;
      // subdetail
      .subItem1_detail {
        padding: 30px !important;
        width: 450px;

        h5 {
          background-color: #f4e9d4;
          font-weight: 700;
          font-size: 14px;
          line-height: 25px;
          margin: 0 0 24px 8px !important;
        }
        > div > li {
          width: 305px;
        }
        &-li {
          margin: 12px 8px;
          text-align: start;
          h4 {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 10px;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            text-wrap: wrap;
          }
          &:hover {
            color: var(--primary-2);
          }
        }
      }
      // smenu1
      .subItem1 {
        display: none;
        position: absolute;
        min-width: 234px;
        top: 100%;
        padding: 0;
        left: 0;
        list-style: none;
        color: #1f2937;
        background-color: #fff;
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1),
          0px 10px 8px 0px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        // overflow: hidden;
        border: 1px solid #e5e7eb;

        &_item {
          padding: 5px 20px;
          text-align: start;
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          svg {
            margin-left: 15px;
          }
          &:hover {
            color: var(--primary-2);
            .subItem2 {
              display: block;
            }
          }

          // submenu 2
          .subItem2 {
            display: none;
            min-width: 234px;
            position: absolute;
            top: 0;
            left: 100%;
            padding: 0;
            list-style: none;
            color: #1f2937;
            background-color: #fff;
            box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1),
              0px 10px 8px 0px rgba(0, 0, 0, 0.04);
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid #e5e7eb;
            &_item {
              padding: 5px 20px;
              text-align: start;
              svg {
                margin-left: 15px;
              }
              &:hover {
                color: var(--primary-2);
              }
            }
          }
        }
      }
      &:nth-child(7) {
        .subItem1 {
          right: 0;
          left: auto;
        }
      }
      &:hover {
        > .subItem1 {
          display: block;
        }
        > .subItem1_detail {
          display: flex;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 20%;
          width: 60%;
          height: 3px;
          margin-bottom: 15px;
          border-radius: 10px;
          background-color: #fff;
        }
        &-white::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 20%;
          width: 60%;
          height: 3px;
          margin-bottom: 15px;
          border-radius: 10px;
          background-color: #fff;
        }
      }
      &-white:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 60%;
        height: 3px;
        margin-bottom: 15px;
        border-radius: 10px;
        background-color: var(--primary-1);
      }
    }
  }
}

// Responsive
// 1153 to 1440
@media (min-width: 1153px) and (max-width: 1440px) {
  .subHeader {
    padding: 9px 0;
    margin: 0 auto;
  }
  .subHeader_read {
    cursor: pointer;
    margin-right: 50px;
  }
  .header {
    position: relative;
    justify-content: space-between;
    &_component {
      flex-direction: column;
      background-color: #fff;
      color: var(--primary-1);
      border-radius: 10px;
      box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1),
        0px 10px 8px 0px rgba(0, 0, 0, 0.04);
      .headerList {
        flex-direction: column;
        align-items: start;
        padding: 30px 0 10px;
        .headerList_item {
          box-sizing: border-box;
          padding: 15px 70px;
          // subdetail
          // smenu1
          .subItem1 {
            right: 100%;
            top: 0;
            bottom: auto;
            left: auto;
            &_item {
              svg {
                margin-right: 15px;
              }
            }
            .subItem2 {
              top: 0;
              right: 100%;
              left: auto;
            }
          }
          &:nth-child(7) {
            .subItem1 {
              right: 100%;
              left: auto;
              &_item {
                .subItem2 {
                  top: auto;
                  bottom: -100px;
                }
              }
            }
          }
          &:hover {
            color: var(--primary-2);
            &::after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 70px;
              width: calc(100% - 140px);
              height: 3px;
              margin-bottom: 15px;
              border-radius: 10px;
              background-color: var(--primary-2);
            }
          }
        }
      }
      > button {
        margin: 0 30px 30px 30px;
      }
    }
  }
}

// 769 to 1152
@media (min-width: 769px) and (max-width: 1152px) {
  .subHeader {
    padding: 9px 0;
    margin: 0 auto;
  }
  .subHeader_read {
    cursor: pointer;
    margin-right: 50px;
  }
  .header {
    position: relative;
    justify-content: space-between;
    &_component {
      flex-direction: column;
      background-color: #fff;
      color: var(--primary-1);
      border-radius: 10px;
      box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1),
        0px 10px 8px 0px rgba(0, 0, 0, 0.04);
      .headerList {
        flex-direction: column;
        align-items: start;
        padding: 30px 0 10px;
        .headerList_item {
          box-sizing: border-box;
          padding: 15px 70px;
          // subdetail
          // smenu1
          .subItem1 {
            right: 100%;
            top: 0;
            bottom: auto;
            left: auto;
            &_item {
              svg {
                margin-right: 15px;
              }
            }
            .subItem2 {
              top: 0;
              right: 100%;
              left: auto;
            }
          }
          &:nth-child(7) {
            .subItem1 {
              right: 100%;
              left: auto;
              &_item {
                .subItem2 {
                  top: auto;
                  bottom: -100px;
                }
              }
            }
          }
          &:hover {
            color: var(--primary-2);
            &::after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 70px;
              width: calc(100% - 140px);
              height: 3px;
              margin-bottom: 15px;
              border-radius: 10px;
              background-color: var(--primary-2);
            }
          }
        }
      }
      > button {
        margin: 0 30px 30px 30px;
      }
    }
  }
}
// 321 to 768
@media (min-width: 321px) and (max-width: 768px) {
  .subHeader {
    padding: 9px 0;
    margin: 0 auto;
    flex-wrap: wrap;
    height: auto;
  }
  .subHeader_read {
    cursor: pointer;
    margin-right: 50px;
    flex-wrap: wrap;
  }
  .header {
    position: relative;
    padding: 0 !important;
    justify-content: space-between;
    &_component {
      flex-direction: column;
      background-color: #fff;
      color: var(--primary-1);
      border-radius: 10px;
      box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1),
        0px 10px 8px 0px rgba(0, 0, 0, 0.04);
      .headerList {
        flex-direction: column;
        align-items: start;
        padding: 30px 0 10px;
        width: 100vw;
        .headerList_item {
          box-sizing: border-box;
          padding: 15px 70px;
          // subdetail
          .subItem1_detail {
            flex-wrap: wrap;
          }
          // smenu1
          .subItem1 {
            background-color: #fff;
            z-index: 10;
            right: auto;
            top: 100%;
            bottom: auto;
            left: 0;
            &_item {
              svg {
                margin-right: 15px;
              }
            }
            .subItem2 {
              top: 100%;
              right: auto;
              left: 20%;
              background-color: #fff;
              z-index: 10;
              width: 280px;
              text-wrap: wrap;
            }
          }
          &:nth-child(7) {
            .subItem1 {
              right: auto;
              left: 0;
            }
          }
          &:hover {
            color: var(--primary-2);
            &::after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 70px;
              width: calc(100% - 140px);
              height: 3px;
              margin-bottom: 15px;
              border-radius: 10px;
              background-color: var(--primary-2);
            }
          }
        }
      }
      > button {
        margin: 0 30px 30px 30px;
      }
    }
  }
}
// 0 to 320
@media (max-width: 320px) {
  .subHeader {
    padding: 9px 0;
    margin: 0 auto;
  }
  .subHeader_read {
    cursor: pointer;
    margin-right: 50px;
  }
  .header {
    position: relative;
    justify-content: space-between;
    &_component {
      flex-direction: column;
      background-color: #fff;
      color: var(--primary-1);
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1),
        0px 10px 8px 0px rgba(0, 0, 0, 0.04);
      .headerList {
        flex-direction: column;
        align-items: start;

        .headerList_item {
          box-sizing: border-box;
          // subdetail
          // smenu1
          .subItem1 {
            right: calc(100% + 40px);
            top: 0;
            bottom: auto;
            left: auto;
            &_item {
              svg {
                margin-right: 15px;
              }
            }
            .subItem2 {
              top: 0;
              right: 100%;
              left: auto;
            }
          }
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7) {
            .subItem1 {
              right: calc(100% + 40px);
              top: 0;
              bottom: auto;
              left: auto;
            }
          }

          &:hover {
            color: var(--primary-2);
            &::after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 20%;
              width: 60%;
              height: 3px;
              margin-bottom: 15px;
              border-radius: 10px;
              background-color: var(--primary-2);
            }
          }
        }
      }
    }
  }
}
