.footer {
  width: 100%;
  background-color: var(--primary-1);
  position: relative;
  > div:first-child {
    display: inline-flex;
    margin: 0 auto;
  }
  &_info {
    padding: 96px 0;
    &-item {
      color: #fff;
      &--lable {
        font-weight: 700;
      }
      &:first-child {
        padding-right: 24px;
        max-width: 322px;
        font-size: 1.6em;
        > img {
          width: 274px;
        }
        > h6 {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          margin: 30px 0 10px;
        }
        .footer_info {
          &-title {
            font-weight: 500;
            margin-bottom: 10px;
          }
          &-btn {
            display: flex;
            align-items: center;
            color: var(--primary-2);
            cursor: pointer;
            font-weight: 700;
            svg {
              margin-left: 15px;
              margin-right: 5px;
              font-size: 20px;
            }
            &:hover {
              svg {
                margin-left: 20px;
                margin-right: 0;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }
      &:last-child {
        margin-left: 50px;
        h5 {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 16px;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        margin-top: 25px;
      }
      .link {
        &-discover,
        &-service {
          padding-left: 40px;
          font-size: 1.6em;
          h5 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 12px;
          }
          p {
            font-weight: 400;
            cursor: pointer;
            line-height: 34px;
            &:hover {
              color: var(--primary-2);
            }
          }
        }
      }
      &-cer {
        margin-top: 40px !important;
      }
    }
  }

  &_contact {
    width: 100%;
    padding: 20px 0;
    > p {
      color: #fff;
      font-size: 1.6em;
      font-weight: 500;
    }
    > div {
      p {
        color: #fff;
        font-size: 1.6em;
        font-weight: 500;
        &:nth-child(2) {
          margin: 0 15px;
        }
        &:hover {
          cursor: pointer;
          color: var(--primary-2);
        }
      }
    }
  }
}

// Responsive
// 1153 to 1440

// 769 to 1152
@media (max-width: 600px) {
  .MuiDivider-root {
    bottom: 140px !important;
  }
}
// 321 to 768
@media (min-width: 321px) and (max-width: 768px) {
  .footer {
    padding: 0 20px;
    &_info {
      justify-content: flex-start !important;
      &-item {
        flex-wrap: wrap;
        .link {
          &-discover,
          &-service {
            padding: 10px;
          }
        }
        &:last-child {
          margin: 0;
          align-items: flex-start;
          width: 100%;
        }
      }
    }
    &_contact {
      flex-wrap: wrap;
      padding: 20px 10px;
      > div {
        padding: 10px 0;
      }
    }
  }
}
// 0 to 320
