.subHeader {
  height: 44px;
  color: var(--primary-1);
  padding: 9px 0 9px 76px;
  font-size: 1.5em;
  width: 1535px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  &[data-language~="1"] {
    padding: 9px 5px 9px 22px;
  }
  .subHeader_p-bold {
    font-weight: 700;

    svg {
      &:last-child {
        display: none;
      }
      margin-right: 10px;
    }
  }
  &_app {
    font-size: 15px;
    min-width: 300px;
    .subHeader_p {
      margin: 0 2px 0 18px;
    }
    > svg {
      cursor: pointer;
    }
    > div {
      cursor: pointer;
      .subHeader_icon-hover {
        margin: 0 5px 0 0;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        .subHeader_icon-hover {
          margin: 0 0 0 5px;
        }
      }
    }
  }
  &_read {
    cursor: pointer;
    &:hover {
      .subHeader_icon-hover {
        margin: 0 0 0 5px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.header {
  background-color: var(--primary-1);
  height: 90px;
  color: #fff;
  justify-content: center;
  align-items: center;
  &_logo {
    cursor: pointer;
    width: 233px;
    // height: max-content;
  }
  .headerList {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 10px;
    margin: 0;
    height: 100%;
    .headerList_item {
      height: 100%;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 15px;
      text-wrap: nowrap;
      text-transform: capitalize;
      padding: 5px 15px;
      font-weight: 700;
      position: relative;
      > svg {
        margin-left: 9px;
        transition: all 0.3s ease-in-out;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
      // smenu1
      .subItem1 {
        box-shadow: 0px 24px 56px 0px rgba(167, 174, 186, 0.16);
        display: none;
        position: absolute;
        color: #fff;
        list-style: none;
        background-color: #042f61;
        border-radius: 16px;
        padding: 24px 40px 24px 24px;
        text-align: start;
        transition: all 0.3s ease-in-out;
        animation: showSubMenu 0.3s ease-in-out;
        > h5 {
          text-transform: uppercase;
          font-size: 12px;
          color: var(--secondary-1);
          font-weight: 600;
          line-height: 150%;
          margin: 8px 0 16px;
        }
        &_item {
          > div,
          a {
            text-decoration: none;
            display: block;
            h4 {
              font-size: 16px;
              font-weight: 600;
              line-height: 150%;
              color: #fff;
              // margin-bottom: 20px;
            }
            p {
              text-transform: none;
              color: #8492a7;
              font-size: 13px;
              font-weight: 500;
              text-wrap: wrap;
              line-height: 150%;
            }
            &:hover > * {
              color: var(--primary-2);
            }
          }
          &:nth-child(5) {
            margin-bottom: 20px;
          }
        }
      }
      &:first-child {
        .subItem1 {
          left: -30px;
          width: 608px;
          .positionTop {
            position: absolute;
            top: -11px;
            left: 205px;
          }
          &_item {
            > div,
            a {
              max-width: 500px;
            }
          }
        }
      }
      &:nth-child(2) {
        .subItem1 {
          left: -175px;
          width: 608px;
          .positionTop {
            position: absolute;
            top: -11px;
            left: 265px;
          }
          > div {
            > div {
              .subItem1_item {
                width: 48%;
                > svg {
                  margin-right: 16px;
                }
                > div,
                a {
                  width: calc(100% - 36px);
                }
              }
              &:nth-child(2) {
                margin: 20px 0;
              }
              &:nth-child(3) {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
      &:nth-child(3) {
        .subItem1 {
          right: -35px;

          .positionTop {
            position: absolute;
            top: -11px;
            left: 260px;
          }
          &_item {
            > svg {
              margin-right: 16px;
            }
            > div,
            a {
              h4 {
                margin-bottom: 20px;
              }
            }
            &:nth-child(3) {
              > div,
              a {
                h4 {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      &:nth-child(4) {
        .subItem1 {
          left: -160px;
          width: 608px;
          .positionTop {
            position: absolute;
            top: -11px;
            left: 265px;
          }
          &_item {
            > svg {
              margin-right: 16px;
            }
            > div,
            a {
              width: 504px;
              margin-bottom: 20px;
            }
            &:nth-child(3),
            &:nth-child(9) {
              > div {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      &:nth-child(5) {
        .subItem1 {
          width: 608px;
          left: -165px;
          .positionTop {
            position: absolute;
            top: -11px;
            left: 263px;
          }
          > div {
            > div {
              &:first-child {
                margin-right: 32px;
              }
              .subItem1_item {
                margin-bottom: 20px;
                &:last-child {
                  margin-bottom: 0;
                }
                > svg {
                  margin-right: 16px;
                }
                div,
                a {
                  width: 216px;
                }
              }
            }
          }
        }
      }
      &:nth-child(6) {
        .subItem1 {
          right: -130px;
          width: 489px;
          .positionTop {
            position: absolute;
            top: -11px;
            left: 323px;
          }
          > div {
            > div {
              &:first-child {
                margin-right: 32px;
              }
              > h5 {
                text-transform: uppercase;
                font-size: 12px;
                color: var(--secondary-1);
                font-weight: 600;
                line-height: 150%;
                margin: 8px 0 16px;
              }
              .subItem1_item {
                width: 215px;
                > svg {
                  margin-right: 16px;
                }
                &:nth-child(2) {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
      &:hover {
        color: var(--primary-2);
        a {
          color: var(--primary-2);
        }
        > svg {
          transform: rotateX(180deg);
        }
        .subItem1 {
          display: block;
          opacity: 1;
          top: 100%;
        }
      }
      &-white {
        a {
          color: var(--primary-1);
          text-decoration: none;
        }
        // smenu1
        .subItem1 {
          background-color: var(--white);
          > h5 {
            color: #1d2b3a;
          }
          &_item {
            > div,
            a {
              h4 {
                color: var(--primary-1);
              }
              p {
              }
              &:hover > * {
              }
            }
          }
        }
        &:nth-child(6) {
          .subItem1 {
            > div {
              > div {
                > h5 {
                  color: #1d2b3a;
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes showSubMenu {
  0% {
    opacity: 0;
    top: 120%;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}
@keyframes showSubMenuRes {
  0% {
    height: 0;
    overflow: hidden;
  }
  100% {
    height: 325.5px;
    overflow: hidden;
  }
}
// Responsive
// 1153 to 1440
@media (min-width: 1153px) and (max-width: 1441px) {
  .subHeader {
    padding: 9px 0;
    margin: 0 auto;
  }
  .subHeader_read {
    cursor: pointer;
    margin-right: 50px;
  }
  .headerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    .headerList_item {
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 15px;
      width: 500px;
      text-wrap: nowrap;
      text-transform: capitalize;
      font-weight: 700;
      position: relative;

      > p,
      > a {
        padding: 20px 15px;
        width: 100%;
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > svg {
          margin-left: 9px;
          transition: all 0.3s ease-in-out;
        }
      }
      >
      // smenu1
      .subItem1 {
        width: 100%;
        display: none;
        color: #fff;
        list-style: none;
        border-radius: 16px;
        padding: 0 24px;
        text-align: start;
        transition: all 0.3s ease-in-out;
        animation: showSubMenuRes 0.3s ease-in-out;
        text-wrap: wrap;
        > h5 {
          text-transform: uppercase;
          font-size: 12px;
          color: var(--secondary-1);
          font-weight: 600;
          line-height: 150%;
          margin: 8px 0 16px;
        }
        .subItem1_item {
          > svg {
            margin-right: 16px;
          }
          > div,
          a {
            color: #fff;
            text-decoration: none;
            width: 90%;
            h4 {
              font-size: 16px;
              font-weight: 600;
              line-height: 150%;
            }
            p {
              color: #8492a7;
              font-size: 13px;
              font-weight: 500;
              text-wrap: wrap;
              line-height: 150%;
            }
            &:hover > * {
              color: var(--primary-2);
            }
          }
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      > input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        opacity: 0;
        &:hover ~ p,
        a {
          color: var(--primary-2);
          cursor: pointer;
        }
        &:checked ~ .subItem1 {
          display: block;
        }
        &:checked ~ p,
        a {
          color: var(--primary-2);
          cursor: pointer;
          > svg {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
}

// 769 to 1152
@media (min-width: 769px) and (max-width: 1152px) {
  .subHeader {
    padding: 9px 0;
    margin: 0 auto;
    &_read {
      cursor: pointer;
    }
    &_app {
      display: none !important;
    }
  }
  .headerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    .headerList_item {
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 15px;
      width: 500px;
      text-wrap: nowrap;
      text-transform: capitalize;
      font-weight: 700;
      position: relative;

      > p {
        padding: 20px 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > svg {
          margin-left: 9px;
          transition: all 0.3s ease-in-out;
        }
      }
      >
      // smenu1
      .subItem1 {
        width: 100%;
        display: none;
        color: #fff;
        list-style: none;
        border-radius: 16px;
        padding: 0 24px;
        text-align: start;
        transition: all 0.3s ease-in-out;
        animation: showSubMenuRes 0.3s ease-in-out;
        text-wrap: wrap;
        > h5 {
          text-transform: uppercase;
          font-size: 12px;
          color: var(--secondary-1);
          font-weight: 600;
          line-height: 150%;
          margin: 8px 0 16px;
        }
        .subItem1_item {
          > svg {
            margin-right: 16px;
          }
          > div,
          a {
            color: #fff;
            text-decoration: none;
            width: 90%;
            h4 {
              font-size: 16px;
              font-weight: 600;
              line-height: 150%;
            }
            p {
              color: #8492a7;
              font-size: 13px;
              font-weight: 500;
              text-wrap: wrap;
              line-height: 150%;
            }
            &:hover > * {
              color: var(--primary-2);
            }
          }
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      > input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        opacity: 0;
        &:hover ~ p {
          color: var(--primary-2);
          cursor: pointer;
        }
        &:checked ~ .subItem1 {
          display: block;
        }
        &:checked ~ p {
          color: var(--primary-2);
          cursor: pointer;
          > svg {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
}
// 321 to 768
@media (min-width: 321px) and (max-width: 768px) {
  .subHeader {
    padding: 9px 0;
    margin: 0 auto;
    &_read {
      cursor: pointer;
    }
    &_p-bold {
      svg:last-child {
        margin-left: 10px;
        display: inline !important;
      }
    }
    &_p {
      display: none;
    }
    &_app {
      display: none !important;
    }
  }
  .header {
    padding: 0 5px !important;
    &_logo {
      width: 50%;
      // height: max-content;
    }
    button {
      margin: 0;
    }
  }
  .headerList {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    .headerList_item {
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 15px;
      width: 100%;
      text-wrap: nowrap;
      text-transform: capitalize;
      font-weight: 700;
      position: relative;

      > p {
        padding: 20px 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > svg {
          margin-left: 9px;
          transition: all 0.3s ease-in-out;
        }
      }
      >
      // smenu1
      .subItem1 {
        width: 100%;
        display: none;
        color: #fff;
        list-style: none;
        border-radius: 16px;
        padding: 0 24px;
        text-align: start;
        transition: all 0.3s ease-in-out;
        animation: showSubMenuRes 0.3s ease-in-out;
        text-wrap: wrap;
        > h5 {
          text-transform: uppercase;
          font-size: 12px;
          color: var(--secondary-1);
          font-weight: 600;
          line-height: 150%;
          margin: 8px 0 16px;
        }
        .subItem1_item {
          > svg {
            margin-right: 16px;
          }
          > div,
          a {
            color: #fff;
            text-decoration: none;
            width: 90%;
            h4 {
              font-size: 16px;
              font-weight: 600;
              line-height: 150%;
            }
            p {
              color: #8492a7;
              font-size: 13px;
              font-weight: 500;
              text-wrap: wrap;
              line-height: 150%;
            }
            &:hover > * {
              color: var(--primary-2);
            }
          }
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      > input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        opacity: 0;
        &:hover ~ p {
          color: var(--primary-2);
          cursor: pointer;
        }
        &:checked ~ .subItem1 {
          display: block;
        }
        &:checked ~ p {
          color: var(--primary-2);
          cursor: pointer;
          > svg {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
}
// 0 to 320
@media (max-width: 320px) {
  .subHeader {
    padding: 9px 0;
    margin: 0 auto;
    &_read {
      cursor: pointer;
    }
    &_p-bold {
      svg:last-child {
        margin-left: 10px;
        display: inline !important;
      }
    }
    &_p {
      display: none;
    }
    &_app {
      display: none !important;
    }
  }
  .header {
    padding: 0 5px !important;
    &_logo {
      width: 50%;
      // height: max-content;
    }
    button {
      width: 20%;
      margin: 0;
    }
  }
  .headerList {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    .headerList_item {
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 15px;
      width: 100%;
      text-wrap: nowrap;
      text-transform: capitalize;
      font-weight: 700;
      position: relative;

      > p {
        padding: 20px 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > svg {
          margin-left: 9px;
          transition: all 0.3s ease-in-out;
        }
      }
      >
      // smenu1
      .subItem1 {
        width: 100%;
        display: none;
        color: #fff;
        list-style: none;
        border-radius: 16px;
        padding: 0 24px;
        text-align: start;
        transition: all 0.3s ease-in-out;
        animation: showSubMenuRes 0.3s ease-in-out;
        text-wrap: wrap;
        > h5 {
          text-transform: uppercase;
          font-size: 12px;
          color: var(--secondary-1);
          font-weight: 600;
          line-height: 150%;
          margin: 8px 0 16px;
        }
        .subItem1_item {
          > svg {
            margin-right: 16px;
          }
          > div,
          a {
            color: #fff;
            text-decoration: none;
            width: 90%;
            h4 {
              font-size: 16px;
              font-weight: 600;
              line-height: 150%;
            }
            p {
              color: #8492a7;
              font-size: 13px;
              font-weight: 500;
              text-wrap: wrap;
              line-height: 150%;
            }
            &:hover > * {
              color: var(--primary-2);
            }
          }
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      > input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        opacity: 0;
        &:hover ~ p {
          color: var(--primary-2);
          cursor: pointer;
        }
        &:checked ~ .subItem1 {
          display: block;
        }
        &:checked ~ p {
          color: var(--primary-2);
          cursor: pointer;
          > svg {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
}
