.product {
  margin-top: 134px;
  .allProducts_item {
    justify-content: center;
  }
  .allProducts,
  .v11,
  .v20,
  .r502cl,
  .r301c11,
  .am001,
  .checkIdSr,
  .v10p {
    &_info {
      flex-direction: column;
      color: #fff;
      background-image: url("../img/background.png");
      background-size: cover;
      background-position: center;
      padding: 50px 70px 30px 70px;
      height: 410px;
      &-subheader {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 25.95px; /* 173% */
        letter-spacing: 2.81px;
        text-transform: uppercase;
        color: var(--secondary-1);
      }
      &-header {
        font-size: 64px;
        font-weight: 700;
        line-height: 90px;
        margin: 10px;
        max-width: 400px;
        text-align: center;
      }
      &-title {
        text-align: center;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 26px;
      }
    }
    &_item {
      margin: 100px 14%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &-box {
        cursor: pointer;
        width: 380px;
        background-color: #eef1f4;
        padding: 60px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 30px;
        text-decoration: none;
      }
      &-body {
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 30px 5px;
        align-items: center;
        > h4 {
          font-size: 2.6em;
          font-weight: 400;
          line-height: 31.2px;
          color: #000;
        }
        p {
          font-size: 1.6em;
          text-align: center;
          font-weight: 400;
          line-height: 28px;
          color: #666;
        }
      }
    }
    &_detail {
      align-items: center;
      padding: 60px;
      &-img {
        width: 800px;
        &-show {
          display: block;
          margin: 0 auto;
        }
        &-list {
          display: flex;
          > .MuiBox-root {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 5px 10px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              box-shadow: 0px 10px 24px 0px #4f9cf9;
              cursor: pointer;
            }
            &.active {
              box-shadow: 0px 10px 24px 0px #4f9cf9;
            }
            > img {
              width: auto;
              height: 100%;
            }
          }
        }
      }
      &-info {
        margin-left: 90px;
        &-header {
          font-size: 4em;
          font-weight: 700;
        }
        &-model,
        &-functionHeader {
          margin-top: 50px;
          font-size: 2em;
          font-weight: 700;
        }
        &-description {
          margin-top: 10px;
          color: #666;
          font-size: 1.6em;
          font-weight: 400;
          line-height: 30px;
          max-width: 700px;
        }
        &-function {
          display: flex;
          flex-wrap: wrap;
          padding: 8px;
          margin: 12px 0 35px;
          &-item {
            width: 70px;
            margin-right: 16px;
            > img {
              width: 100%;
              height: 70px;
              border-radius: 4px;
              padding: 5px;
              border: 1px solid #dee3eb;
            }
            > p {
              color: #7991bd;
              padding-top: 10px;
              text-align: center;
              text-wrap: nowrap;
              font-size: 1.2em;
              font-weight: 400;
              line-height: 14px;
            }
          }
        }
      }
    }
    &_open {
      img {
        max-width: 1175px;
      }
    }
    &_features {
      &-comp {
        margin: 0 auto 80px;
        max-width: 1175px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &-info {
          max-width: 555px;
          > h4 {
            font-size: 4em;
            font-weight: 800;
            line-height: 40px;
          }
          p,
          ol {
            font-size: 1.6em;
            font-weight: 400;
            line-height: 19.5px;
            color: #666;
            margin-top: 20px;
            &:first-child {
              margin-top: 30px;
            }
          }
          ol {
            margin-bottom: 0;
            padding-left: 20px;
          }
        }
      }
    }
    &_specification,
    &_ortherProduct {
      padding: 0 140px;
      margin-bottom: 100px;
      &-header {
        font-size: 4em;
        font-weight: 800;
        line-height: 36px;
        padding: 70px 0 50px;
      }
      &-item {
        width: 96%;
        text-decoration: none;
        padding: 60px 10px 10px 10px;
        background-color: #eef1f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        img {
          height: 250px;
          margin-bottom: 45px;
        }
        > div {
          background-color: #fff;
          width: 100%;
          padding: 30px 5px;
          h6 {
            font-size: 2.6em;
            font-weight: 400;
            text-align: center;
            color: #000;
            line-height: 32px;
          }
          p {
            font-size: 1.6em;
            color: #666;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
          }
        }
      }
      .react-slideshow-container {
        .nav:first-of-type {
          left: -90px;
        }
        .nav:last-of-type {
          right: -90px;
        }
      }
    }
  }
  .v11,
  .v20,
  .r502cl,
  .r301c11,
  .am001,
  .checkIdSr,
  .v10p {
    &_info {
      padding-bottom: 0;
      height: auto;
      flex-direction: row;
      justify-content: center;
      &-header {
        max-width: 600px;
        text-align: start;
        margin: 0;
      }
      &-title {
        margin-top: 30px;
        text-align: start;
        max-width: 500px;
      }
      &-img {
        margin-top: 45px;
      }
    }
  }
  .v10p {
    &_info {
      &-img {
        margin-bottom: -15px;
      }
    }
  }
  .v20,
  .r502cl,
  .r301c11,
  .am001,
  .checkIdSr,
  .v10p {
    &_info {
      > .MuiBox-root {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .v20_info-header {
          text-align: center;
        }
      }
    }
  }
}

// Responsive
// 1920 to infinity
@media (min-width: 1921px) {
}

// 1153 to 1440
@media (min-width: 1153px) and (max-width: 1440px) {
  .product {
    margin-top: 134px;
    .allProducts,
    .v11,
    .v20,
    .r502cl,
    .r301c11,
    .am001,
    .checkIdSr,
    .v10p {
      &_info {
        position: relative;
        height: 500px;
        > img {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(-50%, -10%);
          margin: 0;
        }

        &-subheader {
          max-width: 100%;
        }
        &-header {
          max-width: 100%;
          text-align: center;
        }
        &-title {
          text-align: center;
          max-width: 100%;
        }
        .MuiBox-root {
          z-index: 10;
          max-width: 70%;
        }
      }
      &_detail {
        flex-direction: column;

        &-info {
          margin: 10px 0 0 0;
        }
      }
      &_open {
        img {
          max-width: 100%;
        }
      }
      &_specification {
        padding: 0 30px;
      }
    }
  }
}

// 769 to 1152
@media (min-width: 769px) and (max-width: 1152px) {
  .product {
    margin-top: 134px;
    .allProducts,
    .v11,
    .v20,
    .r502cl,
    .r301c11,
    .am001,
    .checkIdSr,
    .v10p {
      &_info {
        position: relative;
        height: 500px;
        > img {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(-15%, -10%);
          margin: 0;
        }

        &-subheader {
          max-width: 100%;
        }
        &-header {
          max-width: 100%;
          text-align: center;
        }
        &-title {
          text-align: center;
          max-width: 100%;
        }
        .MuiBox-root {
          z-index: 10;
          max-width: 70%;
        }
      }
      &_detail {
        flex-direction: column;

        &-info {
          margin: 10px 0 0 0;
        }
      }
      &_open {
        img {
          max-width: 100%;
        }
      }
      &_features {
        &-comp {
          flex-direction: column;
          justify-content: center;
          &-left {
            flex-direction: column-reverse;
          }
        }
      }
      &_specification {
        padding: 0 30px;
      }
    }
  }
}

// 321 to 768
@media (min-width: 321px) and (max-width: 768px) {
  .product {
    .allProducts_item {
      margin: 100px 20px;
    }
    margin-top: 210px;
    .allProducts,
    .v11,
    .v20,
    .r502cl,
    .r301c11,
    .am001,
    .checkIdSr,
    .v10p {
      &_info {
        position: relative;
        height: 500px;
        padding: 10px;
        > img {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(0, -10%);
          margin: 0;
        }

        &-subheader {
          max-width: 100%;
        }
        &-header {
          max-width: 100%;
          font-size: 4em;
          line-height: 45px;
          text-align: center;
        }
        &-title {
          text-align: center;
          max-width: 100%;
        }
        .MuiBox-root {
          z-index: 10;
          max-width: 100%;
        }
      }
      &_detail {
        flex-direction: column;
        padding: 60px 20px;
        &-img {
          width: 100%;
          &-show {
            width: 100%;
          }
        }
        &-info {
          margin: 10px 0 0 0;
        }
      }
      &_open {
        img {
          max-width: 100%;
        }
      }
      &_features {
        padding: 0 10px;
        &-comp {
          flex-direction: column;
          justify-content: center;

          > img {
            width: 100%;
          }
          &-left {
            flex-direction: column-reverse;
          }
        }
      }
      &_specification {
        padding: 0 20px;
      }
      &_ortherProduct {
        padding: 0 20px;
      }
    }
  }
}

// 0 to 320
@media (max-width: 320px) {
  .product {
    margin-top: 210px;
    .allProducts_item {
      margin: 100px 20px;
    }
    .allProducts,
    .v11,
    .v20,
    .r502cl,
    .r301c11,
    .am001,
    .checkIdSr,
    .v10p {
      &_info {
        position: relative;
        height: 500px;
        padding: 10px;
        > img {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(0, -10%);
          margin: 0;
        }

        &-subheader {
          max-width: 100%;
        }
        &-header {
          max-width: 100%;
          font-size: 4em;
          line-height: 45px;
          text-align: center;
        }
        &-title {
          text-align: center;
          max-width: 100%;
        }
        .MuiBox-root {
          z-index: 10;
          max-width: 100%;
        }
      }
      &_detail {
        flex-direction: column;
        padding: 60px 20px;
        &-img {
          width: 100%;
          &-show {
            width: 100%;
          }
        }
        &-info {
          margin: 10px 0 0 0;
        }
      }
      &_open {
        img {
          max-width: 100%;
        }
      }
      &_features {
        padding: 0 10px;
        &-comp {
          flex-direction: column;
          justify-content: center;

          > img {
            width: 100%;
          }
          &-left {
            flex-direction: column-reverse;
          }
        }
      }
      &_specification {
        padding: 0 20px;
      }
      &_ortherProduct {
        padding: 0 20px;
      }
    }
  }
}
