.usecase {
  margin-top: 134px;
  .usecaseStories {
    &_intro {
      background-image: url("../img/background.png");
      background-position: 50%;
      color: #fff;
      padding: 50px 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-subHeader {
        max-width: 1300px;
        padding: 0 30px;
        color: var(--secondary-1);
        font-size: 1.5em;
        font-weight: 600;
        line-height: 25.95px;
        letter-spacing: 2.81px;
        text-transform: uppercase;
      }
      &-header {
        padding: 0 30px;
        max-width: 1300px;
        text-align: center;
        font-size: 6.4em;
        font-weight: 700;
        line-height: 70px;
        margin: 10px 0;
      }
      &-title {
        text-align: center;
        max-width: 861px;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 26px;
      }
    }
    &_company {
      padding: 40px 0;
      &-title {
        font-size: 4em;
        font-weight: 700;
        margin-bottom: 10px;
      }
      &-content {
        text-align: center;
        color: #8492a7;
        font-size: 1.6em;
        font-weight: 500;
        margin-bottom: 40px;
        max-width: 650px;
      }
      &-logos {
        max-width: 910px;
        flex-wrap: wrap;
        justify-content: center;
        img {
          padding: 0 20px 50px;
        }
        &:first-child {
          img {
            padding: 0 20px 50px;
          }
        }
      }
    }
    &_quotes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      gap: 125px;
      &-slide {
        width: 99vw;
        .images-wrap.horizontal {
        }
      }
      &-page {
        padding: 185px 322px 160px;
        min-height: 700px;
        background-image: url("../img/customer/Vector.png");
        background-position: 28%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        gap: 130px;
        align-items: center;
        > div {
          max-width: 470px;
          gap: 60px;
        }
        &-content {
          font-size: 23.063px;
          font-weight: 500;
          line-height: 32px; /* 138.753% */
          letter-spacing: -0.48px;
        }
        &-info {
          &-name {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px; /* 120% */
            letter-spacing: -0.2px;
          }
          &-title {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.2px;
            margin-bottom: 30px;
          }
          &-link {
            color: var(--primary-2);
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            > svg {
              transition: all 0.3s ease-in-out;
              margin-left: 10px;
            }
            &:hover {
              > svg {
                transform: translateX(10px);
              }
            }
          }
        }
      }
      .indicators {
        gap: 72px;
        border-radius: 50px;
        align-items: center;
        width: max-content;
        position: relative;
        padding: 16px 32px;
        background-color: #fff;
        margin: -70px auto 0;
        z-index: 10;
        box-shadow: 0px 0px 30px 0px rgba(26, 31, 119, 0.05),
          0px 4px 4px 0px rgba(0, 0, 0, 0.05);
        > img {
          width: 60px;

          &:hover {
            cursor: pointer;
          }
        }
      }
      &-pagination {
        gap: 30px;
        p {
          font-size: 16px;
          font-weight: 700;
          line-height: 50px;
        }
      }
    }
    &_receive {
      padding: 70px 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      &-form {
        border-radius: 30px;
        max-width: 1240px;
        background-color: var(--primary-1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 65px 16px;
        &-title {
          padding: 0px 24px 18px 100px;
          font-size: 4em;
          font-weight: 700;
          line-height: 50px;
        }
        &-input {
          min-width: 600px;
          > h4 {
            font-size: 2.4em;
            font-weight: 700;
            line-height: 30px;
          }
          > p {
            font-size: 1.6em;
            font-weight: 500;
            line-height: 26px;
          }
          > div {
            max-width: 430px;
          }
          &-context {
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// Responsive
// 1920 to infinity
@media (min-width: 1921px) {
}

// 1153 to 1440
@media (min-width: 1153px) and (max-width: 1440px) {
}

// 769 to 1152
@media (min-width: 769px) and (max-width: 1152px) {
  .usecase {
    .usecaseStories {
      &_intro {
        &-description {
          gap: 0;
          flex-wrap: wrap;
        }
      }

      &_quotes {
        &-page {
          padding: 185px 12% 160px;
          gap: 10px;
          flex-direction: column;
        }
      }
      &_receive {
        padding: 70px 0;
        &-form {
          flex-direction: column;
          &-title {
            padding: 0 0 10px 0;
            text-align: center;
          }
          &-input {
            > h4 {
              text-align: center;
            }
            > p {
              text-align: center;
            }
            > div {
              max-width: none;
              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// 321 to 768
@media (max-width: 768px) {
  .usecase {
    .usecaseStories {
      &_intro {
        padding: 50px 20px;
        &-header {
          font-size: 6vw;
          line-height: normal;
        }
        &-description {
          gap: 0;
          flex-wrap: wrap;
        }
      }
      &_company {
        padding: 30px 20px;
        &-title {
          font-size: 6vw;
          line-height: normal;
          text-align: center;
        }
        &-content {
          font-size: 1.6em;
        }
      }
      &_quotes {
      }
      &_quotes {
        &-page {
          padding: 185px 12% 160px;
          gap: 10px;
          flex-direction: column;

          > img {
            width: 100%;
          }
        }
        .indicators {
          display: none;
        }
      }
      &_receive {
        padding: 70px 0;
        width: 100%;
        &-form {
          flex-direction: column;
          border-radius: 0;
          &-title {
            padding: 0 0 20px 0;
            font-size: 6vw;
            line-height: normal;
            text-align: center;
          }
          &-input {
            min-width: auto;
            width: 100%;
            > h4 {
              text-align: center;
            }
            > p {
              text-align: center;
            }
            > div {
              max-width: none;
              width: 100%;
              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
