.usecase {
  margin-top: 134px;
  .usecaseStories {
    &_intro {
      background-color: var(--primary-2);
      color: #fff;
      padding: 50px 70px 110px 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-subHeader {
        max-width: 1300px;
        padding: 0 30px;
        color: var(--secondary-1);
        font-size: 1.5em;
        font-weight: 600;
        line-height: 25.95px;
        letter-spacing: 2.81px;
        text-transform: uppercase;
      }
      &-header {
        padding: 0 30px;
        max-width: 1300px;
        text-align: center;
        font-size: 6.4em;
        font-weight: 700;
        line-height: 70px;
        margin: 10px 0;
      }
      &-title {
        text-align: center;
        max-width: 861px;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 26px;
      }

      &-description {
        padding: 0 30px;
        max-width: 1300px;
        display: flex;
        gap: 72px;
        padding: 0 24px;
        &-body {
          max-width: 640px;
          p:first-child {
            font-size: 24px;
            font-weight: 500;
            line-height: 40px;
          }
          h6,
          p:last-child {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
          }
          h6 {
            margin-top: 30px;
            font-weight: 700;
          }
        }
      }
    }
    &_company {
      padding: 40px 0;
      &-title {
        font-size: 4em;
        font-weight: 700;
        margin-bottom: 10px;
      }
      &-content {
        text-align: center;
        color: #8492a7;
        font-size: 1.6em;
        font-weight: 500;
        margin-bottom: 40px;
        max-width: 650px;
      }
      &-logos {
        &-item {
          img {
            padding: 0 35px 50px;
          }
          &:first-child {
            img {
              padding: 0 20px 50px;
            }
          }
        }
      }
      &-readstore {
        width: 222px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--primary-2);
        font-size: 1.6em;
        font-weight: 700;
        cursor: pointer;
        svg {
          margin-left: 10px;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          svg {
            transform: translateX(10px);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    &_quotes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      gap: 125px;

      &-item {
        display: flex;
        max-width: 1280px;
        padding: 0 100px;
        padding: 0 30px;
        max-width: 1300px;
        display: flex;
        align-items: center;

        gap: 48px;
        padding: 0 24px;
        &-body {
          max-width: 640px;
          h6,
          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
          }
          p:first-child {
            font-size: 24px;
            font-weight: 500;
            line-height: 40px;
          }

          h6 {
            margin-top: 30px;
            font-weight: 700;
          }
          a {
            font-size: 16px;
            text-decoration: none;
            display: inline-block;
            color: var(--primary-2);
            font-weight: 700;
            line-height: 24px;
            margin-top: 25px;
            svg {
              margin-left: 5px;
            }
            &:hover {
              svg {
                transform: translateX(10px);
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }
      &-pagination {
        gap: 30px;
        p {
          font-size: 16px;
          font-weight: 700;
          line-height: 50px;
        }
      }
    }
    &_receive {
      padding: 70px 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      &-form {
        max-width: 1240px;
        background-color: var(--primary-1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 65px 16px;
        &-title {
          padding: 0px 24px 18px 100px;
          font-size: 4em;
          font-weight: 700;
          line-height: 50px;
        }
        &-input {
          min-width: 600px;
          > h4 {
            font-size: 2.4em;
            font-weight: 700;
            line-height: 30px;
          }
          > p {
            font-size: 1.6em;
            font-weight: 500;
            line-height: 26px;
          }
          > div {
            max-width: 430px;
          }
          &-context {
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

// Responsive
// 1920 to infinity
@media (min-width: 1921px) {
}

// 1153 to 1440
@media (min-width: 1153px) and (max-width: 1440px) {
}

// 769 to 1152
@media (min-width: 769px) and (max-width: 1152px) {
  .usecase {
    margin-top: 134px;
    .usecaseStories {
      &_intro {
        &-description {
          gap: 0;
          flex-wrap: wrap;
        }
      }

      &_quotes {
        &-item {
          gap: 0;
          flex-wrap: wrap;
        }
      }
      &_receive {
        &-form {
          flex-direction: column;
          &-title {
            padding: 0 0 10px 0;
            text-align: center;
          }
          &-input {
            > h4 {
              text-align: center;
            }
            > p {
              text-align: center;
            }
            > div {
              max-width: none;
              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// 321 to 768
@media (max-width: 768px) {
  .usecase {
    margin-top: 134px;
    .usecaseStories {
      &_intro {
        &-description {
          gap: 0;
          flex-wrap: wrap;
        }
      }

      &_quotes {
        &-item {
          gap: 0;
          flex-wrap: wrap;
          width: 100%;

          &-img {
            width: 100%;
          }
        }
      }
      &_receive {
        padding: 70px 0;
        width: 100%;
        &-form {
          flex-direction: column;

          &-title {
            padding: 0 0 10px 0;
            text-align: center;
          }
          &-input {
            min-width: auto;
            width: 100%;
            > h4 {
              text-align: center;
            }
            > p {
              text-align: center;
            }
            > div {
              max-width: none;
              width: 100%;
              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
